@model RestaSearch.ViewModels.HomeViewModel
@using RestaSearch.Infrastructure

			
				<div class="card-header bg-primary text-white text-center">Kategorie</div>
				<div class=" border ">
					@using (Html.BeginForm("Lista", "Lokale", FormMethod.Get))
					{
						<div class=" border ">
							<div>
								@for (var i = 0; i < Model.Kategorie1.Count(); i++)
								{
									<label class="btn btn-outline-primary m-1">
										@Html.EditorFor(m => Model.Kategorie1[i].Checked)
										@Html.DisplayFor(m => Model.Kategorie1[i].Nazwa, new { @class = "form-control" })
										@Html.HiddenFor(m => Model.Kategorie1[i].Id)
									</label>

								}
							</div>
							<input class="btn btn-secondary" type="submit" value="Szukaj" />
							@*<p>Twoja lokalizacja</p>
							<input id="Lat" name="Latitude" type="text" value="" />
							<input id="Long" name="Longitude" type="text" value="" />*@




							<div class=" m-1">
								<p>
									<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Więcej kategorii</button>
								</p>
								<div class="collapse" id="collapseExample">
									<div class="card card-body">
										<h3>Rodzaj kuchni</h3>
										<p>
											@for (var i = 0; i < Model.Kategorie2.Count(); i++)
											{
												<label class="btn btn-outline-primary m-1">
													@Html.EditorFor(m => Model.Kategorie2[i].Checked)
													@Html.DisplayFor(m => Model.Kategorie2[i].Nazwa)
													@Html.HiddenFor(m => Model.Kategorie2[i].Id)
												</label>

											}
										</p>
										<h3>Dania</h3>
										<p>
											@for (var i = 0; i < Model.Kategorie3.Count(); i++)
											{
												<label class="btn btn-outline-primary m-1">
													@Html.EditorFor(m => Model.Kategorie3[i].Checked)
													@Html.DisplayFor(m => Model.Kategorie3[i].Nazwa)
													@Html.HiddenFor(m => Model.Kategorie3[i].Id)
												</label>

											}
										</p>
										<h3>Inne</h3>
										<p>
											@for (var i = 0; i < Model.Kategorie4.Count(); i++)
											{
												<label class="btn btn-outline-primary m-1">
													@Html.EditorFor(m => Model.Kategorie4[i].Checked)
													@Html.DisplayFor(m => Model.Kategorie4[i].Nazwa)
													@Html.HiddenFor(m => Model.Kategorie4[i].Id)
												</label>

											}
										</p>
									</div>
								</div>
							</div>
						</div>
					}
				</div>
				@*<div class="card-header bg-primary text-white text-center">Miejscowość</div>
				<div class=" my-0 border">
					<div class="col">
						<form class="form-inline  my-1">
							<input class="form-control mr-sm-0 w-100" type="search" placeholder="Wybierz miejscowość" aria-label="Search">
							<div class="form-group col-md-0">
								<select id="inputState" class="form-control">
									<option selected="">+ 0 km</option>
									<option>+ 5 km</option>
									<option>+ 10 km</option>
									<option>+ 15 km</option>
									<option>+ 30 km</option>
									<option>+ 50 km</option>
									<option>+ 75 km</option>
								</select>
							</div>
						</form>
						<p>
							<button class="btn btn-primary  my-1" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">Wyznacz na mapie</button>
						</p>
						<div class="collapse" id="collapseExample2">
							<div class="card card-body">
								<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3021436.393077287!2d19.397885402659664!3d51.9814572724019!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spl!2spl!4v1509386457892" width="470" height="450" frameborder="0"
										style="border:0" allowfullscreen=""></iframe>
							</div>
						</div>
					</div>
				</div>
				<a href="#" class="btn w-100 btn-secondary" target="">Zmień</a>*@
			
			
