@model IEnumerable<RestaSearch.Models.Kategoria>

@{
    ViewBag.Title = "Lista Kategorii";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<div>
	<hr />
	<h2 class="manageHeader">Lista Kategorii</h2>

	<div>
		@if (Model.Any())
		{
			<table id="lokale-table" width="100%">

				<tr>
					<td>
						<strong>Nr kategorii: </strong>
					</td>
					<td>
						<strong>Typ Kategorii </strong>
					</td>
					<td>
						<strong>Nazwa Kategorii: </strong>
					</td>
					<td>
						<strong>Opis: </strong>
					</td>
					<td>
						<strong>Ukryty: </strong>
					</td>
					<td>
					</td>
				</tr>

				@foreach (var kategoria in Model)
				{
					<tr>
							<td>
								@kategoria.KategoriaId
							</td>
						<td>
							@kategoria.Typ
						</td>
						<td>
							@kategoria.NazwaKategorii<br />
						</td>
						<td>
							@kategoria.OpisKategorii
						</td>
						<td>
							@kategoria.Ukryty
						</td>
						<td>
							<a class="btn navbar-btn ml-2 text-white btn-secondary" href="@Url.Action("DodajKategorie", "Manage", new { kategoriaId = kategoria.KategoriaId })">
								Edytuj
							</a>
						</td>
					</tr>
				}
			</table>
		}
		else
		{
			<div style="text-align: center; margin-top: 50px; margin-bottom: 50px;">
				Nie Dodałeś żadnych kategorii .
			</div>
		}
		<a class="btn navbar-btn ml-2 text-white btn-secondary" href="@Url.Action("DodajKategorie", "Manage")">
			Dodaj Kategorie
		</a>
	</div>
</div>